<div class='container'>
  <form action='/write' method='POST'>
    <div class='form-group'>
      <label>title</label>
      <input name='title' type='text' placeholder='write title'>
      <label>content</label>
      <input name='content' type='text' placeholder='write content'>
    </div>
    <button type='submit' class='btn btn-default'>write</button>
  </form>
  <button onclick="location.href='/posts'" class='btn btn-default'>back</button>
</div>
